/*///////////////////// PURPOSE SECTION //////////////////*/
.purpose {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120vh;
    padding: 12% 4% 0 4%;
   }


  
   .purp-container {
    background-color:#452E99;
    height: clamp(500px, 62vw, 650px);
    width: 90vw;
    border-radius: 45px;
    padding: 8% 8% 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 45px 0px 0px #FFEA00;
    position: relative;
    overflow: hidden;
   }

   .purp-container::before {
    content: "";
    position: absolute;
    bottom: 6%; /* Adjust this to position the oval correctly */
    left: 50%;
    transform: translateX(-50%);
    width: 190%;
    height: 200%;
    background-color: #734DFF;
    border-radius: 80%;
    z-index: 0; /* Place it behind the container content */
  }

   .purp-container h1, h2 {
    font-family: var(--heading-font);
   }

   .purp-container h1 {
    font-size: clamp(3.5rem, 5vw, 5rem);
    color: #ffff;
    text-align: center;
    line-height: 1;
    z-index: 1;
   }

   .purp-container h2 {
    font-size: clamp(1.9rem, 3.75vw, 2.95rem);
    text-align: center;
    color: #FFEA00;
    line-height: 1;
    z-index: 1;
   }

   .purp-container p {
    max-width: 62vw;
    font-family: var(--text-font);
    font-size: clamp(1rem, 2.1vw, 1.4rem);
    color: #fff;
    font-weight: 400;
    /* background-color: #FFEA00; */
    text-align: center;
    z-index: 1;
   }

   .corgi {
    /* width: 216px; */
    height: 25vw;
    max-height: 318px;
    /* height: clamp(); */
    /* background-color: orange;  */
    /* background-image: url(images/about-corgi.png); */
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 1vw;
    bottom: -5vw;
    /* bottom: clamp(-5vw, -3vw, -7vw); */
    display: flex;
    align-items: end;
   }

   .cat {
    position: absolute;
    height: 25vw;
    max-height: 280px;
    right: 1vw;
    display: flex;
    align-items: end;
    bottom: clamp(-5vw, -3vw, -7vw);
   }

   .corgi img {
      height: clamp(280px, 30vw, 318px);
   
   }
   .cat img {
      height: clamp(250px, 26vw, 280px);
     
   }
/* MOBILE CHANGES ////////*/
    @media (max-width: 420px) {
      .corgi, .cat {
         bottom: -53%;
         display: none;
         /* right: 1%; */
      }
      .purpose { 
         padding: 18% 4% 10% 4%;
         margin-bottom: 10%;
      }

      .purp-container p {
         width: 90vw;
         text-align: center;
   } 
}
   /*////////////////////WHAT SECTION//////////////*/

   .what {
   /* section tag */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #6B48E8;
    min-height: 130vh;
    /* overflow: hidden; */
    /* padding: 4%;  */
   }

   .what-container {
    background-color: #ffffff;
    display: flex;
    /* flex-wrap: wrap;  */
    /* width: 80vw; */
    width: 90vw;
    padding: 5% 5% 5% 0%;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-shadow: 0px 45px 0px 0px #FFEA00;
    
   }

   

 

   .what-image {
    width: 100%;
    height: clamp(380px, 70vh, 500px);
    background-color: #FFEA00;
    border-radius: 35px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2)), url(images/what-image.png);  
    background-size: cover;
    background-position: 50%;
   }

   .what-text {
      max-width: 500px;
      height: clamp(100%, 50vw, 50vw);
      /* padding-left: 5%;
      padding-right: 5%; */
      padding: 2% 3% 3% 5%;
      border-radius: 35px;
      white-space: normal; 
     }
 
   .what-text h2 {
    /* font-family: "Bricolage Grotesque"; */
    color: var(--text-dark);
    font-size: clamp(4rem, 4.2vw, 140px);
      /* font-size: 63px; */
    font-weight: 900;
    line-height: 1; 
    margin-top: 25px;
    /* white-space: nowrap; */
    
   }


   .what-text h3 {
    color: #6B48E8;
    font-family: "Bricolage Grotesque";
    /* font-size: 29.906px; */
    font-size: clamp(1.5rem, 2vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 33.79px */
    min-width: 200px;
    /* background-color: #d2ab7b; */
   }

   .what-text p {
    color: var(--text-dark);
    font-family: var(--text-font);
    /* font-size: 1.1rem; */
    /* font-size: clamp(.5rem, 1.1rem, 1.2rem); */
    font-size: clamp(.2rem, 1.1rem, 1.2rem);
    /* font-size: 5px; */
    font-style: normal;
    /* min-width: 180px; */
    font-weight: 400;
    line-height: 112.986%; /* 23.866px */
   }

   @media (max-width: 768px) {
      /* PURPOSE SECTION */
      /* mobile changes */
      .what-container {
         flex-wrap: wrap-reverse;
         padding: 0;
      }

      .what-image {
         /* margin-left: 0; */
         height: 60vw;
      }

      .what-container {
         background-color: transparent;
      }

      .what-text {
         padding: 10%;
      }

      .what-text p {
         font-size: .9rem;
      }
   }

   /* WHY BLUUM? ////////////////////////////////////////////////*/
   section.why {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: aqua;  */
    min-height: 120vh;
    overflow: hidden;
    margin-bottom: 150px;
    padding-top: 50px;
   }

   .why-container {
    /* width: 1155px; */
    /* flex-shrink: 0; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap-reverse;
    /* background-color: lime; */
    margin-bottom: 60px;

   }

   .why-image {
      border-radius: 41.318px;
      width: clamp(340px, 35vw, 36vw);
      min-height: 50vh;
      background-color: #fff;
      background-image: url(images/why-image.png);
      /* background-color: darkred; */
      background-size: cover;
      background-position: 50% 10%;
      box-shadow: 0px 45px 0px 0px #FFEA00;
     }

   .why-text {
    border-radius: 41.318px;
    background: #734DFF;
    box-shadow: 0px 45px 0px 0px #FFEA00;
    width: 55%;
    width: clamp(340px, 55%, 60%);
    min-height: 550px;
   padding: 5%;
    z-index: 2;
   }

   .why h2{
    color: #FFF;
    font-family: var(--heading-font);
    font-size: 53.255px;
    font-style: normal;
    font-weight: 800;
    line-height: 92%; /* 48.994px */
    margin-top: 10%;
   }

   .why h3 {
    color: #FFF36C;
    font-family: var(--subheading-font);
    font-size: clamp(1.5rem, 2vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: 112.986%; /* 29.376px */
    width: 90%;
   }

   .why p {
    color: #FFF;
    font-family: var(--text-font);
    font-size: clamp(5px, 1.1rem, 1.2rem);
    font-style: normal;
    font-weight: 450;
    max-width: 522px;
   }

   @media (max-width: 768px) {
      /* PURPOSE SECTION */
      /* mobile changes */
      .why-image {
         box-shadow: 0px 0px 0px 0px #FFEA00;
         width: 90vw;
         /* margin-bottom: 45px; */
      }

      .why-text {
         width: 90vw;
      }

      .why-text p {
         font-size: .9rem;
      }
   }


 

   /* HOW SECTION ***********************/

   section.how {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: #6344D4;
    min-height: 100vh;
    overflow: hidden;
   }

 .how .top-row  {
    margin-left: 3%;
    padding-top: 8%;
   } 
 .top-row h1 {
    color: #FFF;
    font-family: var(--heading-font);
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 112.986%; /* 81.509px */
 }

 .top-row h2 {
    color: #FFF36C;
    font-family: var(--heading-font);
    font-size: clamp(2rem, 2vw, 32px);
    font-style: normal;
    font-weight: 500;
    line-height: 112.986%; /* 47.454px */
    margin-bottom: 50px;
 }

 .how .bottom-row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    flex-wrap: wrap;
 }

 .bottom-row p {
   font-size: clamp(14px, 1.1rem, 1.4rem);
   font-family: var(--text-font);
   font-weight: 450;
   color: var(--text-dark);
   
 }

 .how-containers h2 {
   color: #6344D4;
   font-size: 2rem;
   line-height: 1;
 }

 .how-containers {
    background: #fff;
    width: clamp(380px, 30vw, 500px);
    height:70vh;
    border-radius: 35px;
    box-shadow: 0px 45px 0px 0px #FFEA00;
    padding: 20px;
    /* padding-bottom: 12%; */
    margin-right: 1%;
    margin-top: 65px;
 }





 .how-image {
    background-color: #FFEA00;
    margin-top: 2%;
    border-radius: 25px;
    width: 100%;
    height: 45%;
    min-height: 220px;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 10%;
    background-position: center; 
 }

 .how1 {
    background-image: url(images/how-image-4.jpg);
    
 }
 .how2 {
    background-image: url(images/how-image-2.png);
 }
 .how3 {
    background-image: url(images/how-image-3.png);
 }

 @media (max-width: 768px) {
   .engaging {
      margin-top: 0;
    }

    .bottom-row p {
      font-size: .9rem;
    }

    .how .top-row  {
      margin-left: 5%;
      margin-top: 12%;
     } 


 }

 /* Small smart phones */
 @media (max-width: 375px) {
   .how-containers {
      height: fit-content;
      /* max-width: 330px; */
   }
   

 }

 /* VALUES SECTION ********************** */
 section.values {
   /* display: flex;
   flex-direction: column; */
   width: 100%;
   padding-top: 8%;
   background: #ffffff;
   min-height: 100vh;
   overflow: hidden;
   padding-bottom: 10%
  }

  .values-heading {
   margin-left: 3%;
  }

  .values-row2 {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 10vh;
   /* padding: 3%; */
   justify-content: center;
   align-items: center;
   padding-top: 3%;
   padding-bottom: 8%;
  }

  .values-heading h1 {
   font-family: var(--heading-font);
   color: #412C8D;
   font-size: 4.5rem;
   font-style: normal;
   font-weight: 800;
   line-height: 112.986%; 
  }

  .values-heading h2 {
   font-family: var(--heading-font);
   color: #6B48E8;
   font-weight: 500;
   font-size: clamp(2rem, 2vw, 32px);
  }

  .values-container h2 {
   color: var(--text-light);
   font-size: 2rem;
  }

  .values-container h3 {
   color: #FFF36C;
   font-size: clamp(1.5rem, 2vw, 28px);
   line-height: 1;
   font-family: var(--heading-font);
   max-width: 400px;
   font-weight: 500;
  }

  .values-container p {
   font-family: var(--text-font);
   color: var(--text-light);
   max-width: 400px;
  }

  .values-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   align-content: center;
  }

  .value-img {
   background-color: #412C8D;
   background-size: cover;
   background-position: center;
   /* width: 300px; */
   height: 45vh;
   width: clamp(340px, 30vw, 500px);
   border-radius: 35px;
   box-shadow: 0px 30px 0px 0px #FFEA00;
  }

  /* adjustments to first value image */
  .v-image1 {
   background-position: left;
  }

  .value-textbox {
   background-color: #734DFF;
   padding: 3%;
   padding-left: 5%;
   border-radius: 35px;
   width: clamp(340px, 40vw, 500px);
   height: 45vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;

   box-shadow: 0px 30px 0px 0px #FFEA00;
  }

  @media (max-width: 680px) {
   .value-img {
      box-shadow: none;
   }
  }


  @media (max-width: 400px) {
   /* Values SECTION */
   /* mobile changes */
   .value-img {
      box-shadow: none;
      width: 90vw;
      /* margin-bottom: 45px; */
   }

   .value-textbox {
      width: 90vw;
   }

   .value-textbox p {
      font-size: .9rem;
   }

   .values-heading {
      margin-left: 5%;
      margin-top: 12%;
   }
}