@keyframes enterFromTop {
    0% {
      transform: translateY(-200%) rotate(-120deg);
      opacity: 0;
    }
    80% {
      /* transform: translateY(10%) rotate(10deg); */
      transform: translateY(0%) rotate(1deg);
      opacity: 1;
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
  
  @keyframes enterFromLeft {
    0% {
      transform: translateX(-200%) rotate(-120deg);
      opacity: 0;
    }
    80% {
      transform: translateY(0) rotate(1deg);
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0);
    }
  }
  
  @keyframes enterFromRight {
    0% {
      transform: translateX(200%) rotate(120deg);
      opacity: 0;
    }
    80% {
      transform: translateY(0%) rotate(1deg);
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0);
    }
  }
  
  @keyframes enterFromBottom {
    0% {
      transform: translateY(200%) rotate(120deg);
      opacity: 0;
    }
    80% {
      transform: translateY(1%) rotate(1deg);
      opacity: 1;
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
/* pink */
  .shape-1 {
    animation: enterFromTop 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    animation-delay: 0.3s;
  }
  /* yellow */
  .shape-2 {
    animation: enterFromLeft 2s cubic-bezier(0.8, -0.8, 0.16, 1.7)forwards;
    animation-delay: 0.6s;
  }
  /* purple */
  .shape-3 {
    animation: enterFromRight 1.9s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    animation-delay: 0.4s;
  }
  /* green */
  .shape-4 {
    animation: enterFromBottom 2.1s cubic-bezier(0.68, -0.55, .27, 1.55) forwards;
    animation-delay: 0.7s;
  }

  /* Text Animations Homepage */
  .word-fade {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    margin-right: 0.25em;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  /* Text animations ABOUT */
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
    animation-play-state: paused;
  }
  
  .fade-in.delay-0 { animation-delay: 0.2s; }
  .fade-in.delay-1 { animation-delay: 0.5s; }
  .fade-in.delay-2 { animation-delay: 0.8s; }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }