/* STYLES FOR BLUUM SITE, UPDATED 4/11/25 */
@import url(_boilerplate.css);
@import url(_variables.css);
@import url(_navbar.css);
@import url(_home.css);
@import url(_about.css);
@import url(_footer.css);
@import url(_animations.css);
@import url(_team.css);

:root {
    /* COLORS */
    --primary-purple: #6c5ce7;
    --dark-purple: #261954;
    --accent-pink: #ff69b4;
    --accent-yellow: #ffd700;
    --accent-green: #2ecc71;
    --text-dark: #333;
    --text-light: #fff;
    --hover-color: #ff69b4;

    /* FONTS */
    /* --heading-font: "Bricolage Grotesque", sans-serif;  Needs to be imported first */
    --logo-font: "DT Getai Grotesk Display";
    --text-font: "Open Sans", sans-serif;
    --body-font: "Bricolage Grotesque", sans-serif;
    --heading-font: "Bricolage Grotesque", sans-serif;

}




  /* Responsive Design
  NEEDS TO BE MOVED TO THEIR RESPECTIVE STYLE FILES
  */




