/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   html, body {
    height: 100%;
    font-size: 100%;
    /* overflow-x: hidden; */
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
    margin-bottom: 16px;
   }
   
   
   
   set this up for later
   :root {
      --primary-purple: #6c5ce7;
      --accent-pink: #ff69b4;
      --accent-yellow: #ffd700;
      --accent-green: #2ecc71;
      --text-dark: #333;
      --text-light: #fff;
  }
  
  body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      color: var(--text-dark);
  }
  
  /* Header Styles */
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4%;  
      background-image: url(images/navbar-background.svg);
      background-size: cover;
      width: 100%;
      height: 8.7vh;
      background-repeat: no-repeat;
     
  }
  
  /* .menu-icon {
      padding-left: 70px;
      
  } */
  
  /* .logo-container img {
      width: 250px;
      padding-left: -20px;
      z-index: 100;
  } */


.logo-container {
    /* background-color: #ff69b4; */
    max-width: 300px;
    max-height: 8.7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  .logo-container img {
    /* background-color: #2ecc71; */
    max-height: 8.7vh;
  }
  header .flower-logo {
    width: clamp(15px, 8vh, 100px);
    /* background-color: #ff69b4; */
  }
  header .logo-text {
    margin-left: 5%; 
    width: 20vw;
    width: clamp(40px, 22vh, 300px);
  }
  
  
  
  
  nav {
      /* background-color: #734DFF;  */
     
      display: flex;
      align-items: center;
      display: none;
  
  }
  
  nav ul {
      display: flex;
      list-style: none;
  }
  
  nav ul li {
      margin-left: 2rem;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #ffff;
      font-weight: 600;
      font-size: 15px;
      font-family: "Bricolage Grotesque", sans-serif;
  }

  

 /* Mobile Menu - Start */

 .bluum-flwr {
    animation: spin 13s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    7.7% { transform: rotate(360deg); } /* Completes spin in 1 second (1s / 13s ≈ 7.7%) */
    100% { transform: rotate(360deg); } /* Holds position for the remaining 12s */
}


  .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #261954;
    width: 420px;
    height: 700px;
    z-index: 300;
    border-radius: 30px 0 0 30px;
    padding-top: 55px;
    padding-left: 44px;
    transition: transform 0.5s ease-in-out;
    transform: translate(100%);
  }
  .mobile-menu li {
    list-style: none;
  }

  .mobile-menu ul {
    margin-bottom: 208px;
  }

  .mobile-menu hr {
    color: #6B48E8;
    margin-right: 44px;
    margin-top: 30px;
    margin-bottom: 290px;
  }

  .mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .mobile-menu a:hover{
        font-weight: 300;
        color: #ff69b4;
  }

  .mobile-logo {
    margin-bottom: 44px;
  }
  .mobile-logo img {
    height: 57px;
    margin-left: 10px;
    /* background-color: #ff69b4; */
  }

  header .checkbox {
    position: absolute;
    display: block;
    height: 45px;
    width: 45px;
    top: 16;
    right: 19px;
    z-index: 302;
    opacity: 0;
    cursor: pointer;
  }

  header .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 301;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-lines .line {
    display: block;
    height: 4.5px;
    width: 100%;
    background: #fff;
  }

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  input[type="checkbox"]:checked ~ .mobile-menu {
    transform: translateX(0);
    
  }

  input[type="checkbox"] ~ html, body {
    overflow-x: hidden;
  }

  /*animation for hamburger menu*/
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .mob-menu-footer h6 {
    color: white;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .m-socials {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ffd700; */
  }
  .m-socials img {
    height: 3.2vh;
    /* background-color: #2ecc71; */
  }

 /* Mobile Menu - End */







  /* Hero Section */
  .hero {
      display: flex;
      align-items: center;
      padding: 2rem 5%;
      min-height: 80vh;
      /* background-color: var(--primary-purple); */
      position: relative;
      overflow: hidden;
  }
  
  .hero-content {
      flex: 1;
      max-width: 50%;
      z-index: 2;
      color: #000;
  }
  
  .hero h1 {
      font-size: clamp(1.75rem, 4vw, 3rem);
      color: #000;
      line-height: 1;
      margin-bottom: 1.5rem;
      font-family: "Bricolage Grotesque", sans-serif;
      
  }
  
  .hero p {
      font-family: "Open Sans", sans-serif;
      font-size: clamp(1.1rem, 2vw, 1.4rem);
      color: #000000;
      margin-bottom: 2rem;
  }
  
  /* Learn more button */
  .cta-container {
      background-color: #261954;
      height: 64.5px;
      width: 199px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .cta-button {
      font-family: "Open Sans", sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* padding: 0.8rem 1.5rem; */
      color: #fff;
      text-decoration: none;
      /* border-radius: 5px; */
      font-weight: bold;
      font-size: 17px;
  }
  
  .arrow {
      margin-left: 27px;
      
  }
  
  .cta-container2 {
      display: none;
  }
  
  
  
  .hero-image {
      flex: 1;
      position: relative;
      z-index: 100;
  }
  
  .phone {
      margin-top: 10%;
      max-width: 100%;
      display: block;
      padding-left: 40%;
      flex: 1;
      z-index: 200;
  
  }
  
  .decorative-shape {
      position: absolute;
      z-index: -1;
      width: 15vw; /* Responsive width based on viewport width */
      height: 15vw;
  }
  
  .shape-1 {
      top: -3%;
      left: 20%;
      width: 20vh;
      height: 20vh;
      /* max-width: 157px;
      max-height: 157px;   */
  }
  
  .shape-2 {
      bottom: -30%;
      left: -12%;
      width: 45vw;
      height: 45vw;
      max-width: 700px;
      max-height: 700px;
      
  }
  
  .shape-3 {
      top:   6%;
      right: -20%;
      width: 27vh;
      max-width: 270px;
  }
  
  .shape-4 {
      bottom: -9%;
      right: -20%;
      width: 15vw;
  }
  
  /* Hides mobile only content */
  .mobile-changes {
      display: none;
  }
  
  /* Footer Content */
  
  footer {
      background-color: #261954;
      height: auto;
      
  }
  
  footer h5 {
      font-size: 40px;
      font-family: "Bricolage Grotesque", sans-serif;
  }
  
  .footer-row-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2%;
      flex-wrap: wrap;
  }
  
  .footer-row-1 img {
      /* height: 8vw; */
      width: clamp(300px,50vw,750px);
      margin-right: 50px;
     
      
  }

  
  
  .foot-headline {
      display: flex;
      padding-top: 35px;
      align-items: center;
      height: 14vh;
      max-width: 32vw;
      min-width: 320px;
      /* width: clamp(520px, 545px, 32vw); */
      margin-right: 2vw; 
      /* padding-left: 30px; */
  }
  
  
  
  .footer-row-1 h5 {
      color: #FFF36C;
      line-height: 1;
      font-size: clamp(1.75rem, 3vw, 4rem);
      /* background-color: #6c5ce7; */
  }
  
  .row-2-left {
      margin-right: 20px;
  }
  
  .footer-row-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2%;
      /* background-color: pink; */
      
  }
  
  .footer-row-2 h5 {
      color: #E3DBFF;
      margin-bottom: -10px;
      /* font-size: 3vw; */
  
      font-size: clamp(1.5rem, 3vw, 4rem);
  }
  
  .footer-row-2 a {
      text-decoration: none;
      color: #fff;
      font-size: clamp(1.2rem, 2vw, 2.1vw);
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 200;
  }
  
  
  .foot-nav {
      display: flex;
      align-items: center;
      /* justify-content: center; */
      /* background-color: #2ecc71; */
      margin-right: 2vw; 
      min-width: 320px;
  }
  
  .foot-nav ul {
      display: flex;
      list-style: none;    
  }
  
  
  .foot-nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: clamp(1rem, 1.5vw, 1.6vw);
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 600;
      white-space: nowrap;
  }
  
  .verticalLine {
      border-left: solid #6B48E8;
      margin-left: 3vh;
      margin-right: 3vh;
      width: 4px;
    }
  
  .footer-row-3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2%;
      margin-top: 180px;
      flex-wrap: wrap-reverse;
      /* background-color: tomato; */
  }
  
  .footer-row-3 p {
      color: #fff;
      font-size: 16px;
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 500;
      /* height: 38px; */
      /* background-color: fuchsia; */
      display: flex;
      align-items: flex-end;
      padding-top: 19px;
  }
  
  .socials {
      color: white;
      display: flex;
      margin-right: 3vw;
  }
  
  
  .socials h6 {
      height: 100%;
      font-size: 20px;
      display: flex;
      align-items: center;
      /* background-color: #ffd700; */
     
  }
  
  
  .social-icons {
      display: flex;
      
  }
  .social-icons img {
      padding-left: 24px;
      height: 70%;
      /* background-color: #6B48E8; */
  
      /* display: flex;
      align-items: baseline; */
  }
  
  .linked-in {
      margin-top: 5%;
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
      .hero {
          flex-direction: column;
      }
      
      .hero-content, .hero-image {
          max-width: 100%;
      }
  
      .phone {
          padding-top: 25px;
          padding-left: 0px;
      }
      
      nav ul {
          display: none;
      }
  
      .hero-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: -40px;
      }
  
      .cta-container2 {
          /* margin-top: 45px; */
          background-color: #261954;
          height: 75px;
          width: 250px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .mobile-changes {
          margin-top: 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  
      .mobile-changes p {
          text-align: center;
          font-weight: 350;
      }
  
      .hero-content h1 {
          text-align: center;
          margin-top: 25px;
          margin-bottom: 45px;
      
      }
      .hero-content p {
          display: none;
          
      }
     
      .cta-container {
          display: none;
      }
      .cta-button {
          font-size: 20px;
      }
  
    
     
    
      .decorative-shape {
          position: absolute;
          z-index: -1;
      }
      
      /* Pink Shape */
      .shape-1 {
          top: 5%;
          left: -20%;
          width: 20vw;
          height: 20vw;
          transform: rotate(8deg);
          /* max-width: 157px;
          max-height: 157px;   */
      }
      
      /* Yellow shape */
      .shape-2 {
          bottom: 1%;
          left: -50%;
          width: 60vw;
          height: 60vw;
          max-width: 700px;
          max-height: 700px;
         
          
      }
      
      /* Purple shape */
      .shape-3 {
          top:   4%;
          right: -20vw;
          transform: scale(1.1);
          /* max-width: 270px; */
      }
      
      /* Green shape */
      .shape-4 {
          bottom: 7%;
          right: -12vw;
          transform: scale(1.5);
       
      }
      
      .menu-toggle {
          display: block;
      }
  
      .foot-nav {
          display: flex;
          justify-content: left;
          margin-top: 5vh;
      }
  
      .verticalLine {
          margin-left: 2vh;
          margin-right: 2vh;
          width: 2px;
        }
  
        .footer-row-1 img {
          /* height: 8vw; */
          margin-top: 25px;
      }
  
      
  
  }

  @media (max-width: 576px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4%;  
        background-image: url(images/nav-bar-mobile.svg);
        background-color: #2ecc71;
        background-size: cover;
        width: 100%;
        height: 10vh;
        background-repeat: no-repeat;
       
    }

    /* .logo-container img {
        width: 48vw;
    } */

    header .hamburger-lines {
        height: 22px;
        width: 28px;
        top: 2.5%;
        right: 3.5%
    }

  }
/* Small smart phones */
  @media (max-width: 375px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4%;  
        background-image: url(images/nav-bar-mobile.svg);
        background-size: cover;
        width: 100%;
        height: 10vh;
        background-repeat: no-repeat;
       
    }

    

  }




  /* ABOUT PAGE STYLES */
